body {
    background-color: black;
    color: white;
    text-align: center;
} 
.container {
  position: relative;
  text-align: center;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
